Schemas/include/SimpleTypes.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:simpleType name="Color">
        <xs:restriction base="xs:string">
            <xs:pattern value="\(0\.[0-9]+,0\.[0-9]+,0\.[0-9]+(,0\.[0-9]+)?\)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="IntRange">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+~[0-9]+" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QualityRange">
        <xs:restriction base="xs:string">
            <xs:pattern value="(Awful|Poor|Normal|Good|Excellent|Masterwork|Legendary)~(Awful|Poor|Normal|Good|Excellent|Masterwork|Legendary)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Vector2">
        <xs:restriction base="xs:string">
            <xs:pattern value="\([+-]?([0-9]*[.])?[0-9]+,[+-]?([0-9]*[.])?[0-9]+\)" />
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Vector3">
        <xs:restriction base="xs:string">
            <xs:pattern value="\([+-]?([0-9]*[.])?[0-9]+,[+-]?([0-9]*[.])?[0-9]+,[+-]?([0-9]*[.])?[0-9]+\)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Vector4">
        <xs:restriction base="xs:string">
                <xs:pattern value="\([+-]?([0-9]*[.])?[0-9]+,[+-]?([0-9]*[.])?[0-9]+,[+-]?([0-9]*[.])?[0-9]+\),[+-]?([0-9]*[.])?[0-9]+\)"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="FloatRange">
        <xs:restriction base="xs:string">
            <xs:pattern value="[+-]?([0-9]*[.])?[0-9]+~[+-]?([0-9]*[.])?[0-9]+" />
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="UShort">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="65535"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="CSType">
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve" />
            <xs:pattern value="\S+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:string">
            <xs:minLength value="1" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>