Schemas/AspectDef.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Defs">
        <xs:complexType></xs:complexType>
    </xs:element>

    <xs:complexType name="AspectDef">
        <xs:sequence>
            <xs:element name="defName" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="aspectType" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="labelColor" type="xs:string" minOccurs="0" maxOccurs="1" />
            <xs:element name="strages" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="AspectStage" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="AspectStage">
        <xs:sequence>
            <xs:element name="label" minOccurs="0" maxOccurs="1" />
            <xs:element name="modifier" minOccurs="0" maxOccurs="1" />
            <xs:element name="description" minOccurs="0" maxOccurs="1" />
            <xs:element name="capMods" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="PawnCapacityModifier" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="skillMods" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="SkillMod" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="PawnCapacityModifier">
        <xs:sequence>
            <xs:element name="capacity" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="setMax" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="postFactor" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="offset" type="xs:float" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SkillMod">
        <xs:sequence>
            <xs:element name="skillDef" type="xs:string" minOccurs="1" maxOccurs="1" />
            <xs:element name="addedXp" type="xs:float" minOccurs="0" maxOccurs="1" />
            <xs:element name="passionOffset" type="xs:int" minOccurs="0" maxOccurs="1" />
            <xs:element name="forcedPassion" type="Passion" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="Passion">
        <xs:restriction base="xs:string">
            <xs:enumeration value="None" />
            <xs:enumeration value="Minor" />
            <xs:enumeration value="Major" />
        </xs:restriction>
    </xs:simpleType>
</xs:schema>