Schemas/ComposableHediffs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="include/SimpleTypes.xsd" />
    <xs:include schemaLocation="include/CommonComplex.xsd" />
    <xs:include schemaLocation="Def.xsd" />
    <xs:element name="Defs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="HediffDef" type="HediffDef" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="HediffDef">
        <xs:all>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="hediffClass" type="xs:string" minOccurs="0" />
            <xs:element name="initialSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="lethalSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="tendable" type="xs:boolean" minOccurs="0" />
            <xs:element name="isBad" type="xs:boolean" minOccurs="0" />
            <xs:element name="spawnThingOnRemoved" type="xs:string" minOccurs="0" />
            <xs:element name="chanceToCauseNoPain" type="xs:float" minOccurs="0" />
            <xs:element name="makesSickThought" type="xs:boolean" minOccurs="0" />
            <xs:element name="makesAlert" type="xs:boolean" minOccurs="0" />
            <xs:element name="causesNeed" type="xs:string" minOccurs="0" />
            <xs:element name="minSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="maxSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="scenarioCanAdd" type="xs:boolean" minOccurs="0" />
            <xs:element name="cureAllAtOnceIfCuredByItem" type="xs:boolean" minOccurs="0" />
            <xs:element name="taleOnVisible" type="xs:string" minOccurs="0" />
            <xs:element name="everCurableByItem" type="xs:boolean" minOccurs="0" />
            <xs:element name="battleStateLabel" type="xs:string" minOccurs="0" />
            <xs:element name="labelNounPretty" type="xs:string" minOccurs="0" />
            <xs:element name="displayWound" type="xs:boolean" minOccurs="0" />
            <xs:element name="defaultLabelColor" type="Color" minOccurs="0" />
            <xs:element name="injuryProps" type="InjuryProps" minOccurs="0" />
            <xs:element name="addedPartProps" type="AddedPartProps" minOccurs="0" />
            <xs:element name="labelNoun" type="xs:string" minOccurs="0" />
            <xs:element name="alwaysAllowMothballCached" type="xs:boolean" minOccurs="0" />
            <xs:element name="alwaysAllowMothball" type="xs:boolean" minOccurs="0" />
            <xs:element name="concreteExampleInt" type="xs:string" minOccurs="0" />

            <xs:element name="modExtensions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="comps" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="stages" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="HediffStage" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="hediffGivers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="InjuryProps">
        <xs:all>
            <xs:element name="painPerSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="averagePainPerSeverityPermanent" type="xs:float" minOccurs="0" />
            <xs:element name="bleedRate" type="xs:float" minOccurs="0" />
            <xs:element name="canMerge" type="xs:boolean" minOccurs="0" />
            <xs:element name="destroyedLabel" type="xs:string" minOccurs="0" />
            <xs:element name="destroyedOutLabel" type="xs:string" minOccurs="0" />
            <xs:element name="useRemovedLabel" type="xs:boolean" minOccurs="0" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="AddedPartProps">
        <xs:all>
            <xs:element name="partEfficiency" type="xs:float" minOccurs="0" />
            <xs:element name="solid" type="xs:boolean" minOccurs="0" />
            <xs:element name="isGoodWeapon" type="xs:boolean" minOccurs="0" />
            <xs:element name="betterThanNatural" type="xs:boolean" minOccurs="0" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="HediffStage">
        <xs:all>
            <xs:element name="minSeverity" minOccurs="0" type="xs:float" />
            <xs:element name="label" minOccurs="0" type="xs:string" />
            <xs:element name="labelOverride" minOccurs="0" type="xs:string" />
            <xs:element name="description" minOccurs="0" type="xs:string" />
            <xs:element name="painOffset" minOccurs="0" type="xs:float" />
            <xs:element name="hungerRateFactor" minOccurs="0" type="xs:float" />
            <!-- general mutagenStage  stage -->
            <xs:element name="alert" type="StageAlert" minOccurs="0" nillable="true" />
            <!-- mutation specific fields -->
            <xs:element name="spreadOrder" minOccurs="0" type="MutTypeField" />
            <xs:element name="mutationRate" minOccurs="0" type="MutTypeField" />
            <xs:element name="mutationTypes" minOccurs="0" type="MutTypeField" />
            <!-- Transformation specific fields  -->
            <xs:element name="tfChance" minOccurs="0" type="MutTypeField" />
            <xs:element name="tfTypes" minOccurs="0" type="MutTypeField" />
            <xs:element name="tfGenderSelector" minOccurs="0" type="MutTypeField" />
            <xs:element name="tfSettings" minOccurs="0" type="TFMiscSettings" />

            <xs:element name="vomitMtbDays" minOccurs="0" type="xs:float" />
            <xs:element name="becomeVisible" minOccurs="0" type="xs:boolean" />
            <xs:element name="capMods" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="lax" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hediffGivers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="statOffsets" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="lax" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="Class" type="CustomHediffStages" use="optional" />
    </xs:complexType>

    <xs:simpleType name="CustomHediffStages">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Pawnmorph.Hediffs.HediffStage_MutagenicBase" />
            <xs:enumeration value="Pawnmorph.Hediffs.HediffStage_Mutation" />
            <xs:enumeration value="Pawnmorph.Hediffs.HediffStage_Transformation" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MutTypeField">
        <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="lax" />
        </xs:sequence>
        <xs:attribute name="Class" type="NonEmptyString" use="required" />
    </xs:complexType>
    <xs:complexType name="TFMiscSettings">
        <xs:all>
            <xs:element name="tfTale" type="NonEmptyString" minOccurs="0" />

            <xs:element name="forcedSapience" type="xs:float" minOccurs="0" />
            <xs:element name="manhunterSettings" type="ManhunterTfSettings" minOccurs="0" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="ManhunterTfSettings">
        <xs:all>
            <xs:element name="mult" type="xs:float" minOccurs="0" />
            <xs:element name="offset" type="xs:float" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="StageAlert">
        <xs:all>
            <xs:element name="letterLabelText" type="NonEmptyString" minOccurs="0" />
            <xs:element name="letterContentText" type="NonEmptyString" minOccurs="0" />
            <xs:element name="letterDef" type="NonEmptyString" minOccurs="0" />
        </xs:all>
    </xs:complexType>
</xs:schema>