Schemas/Def.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="Def">
		<xs:all>
			<xs:element name="defName" type="xs:string"/>
			<xs:element name="label" type="xs:string"/>
			<xs:element name="description"  type="xs:string"/>

			<xs:element name="modExtensions">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" type="xs:anyType"  />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attribute name="Abstract" type="xs:boolean"/>
		<xs:attribute name="ParentName" type="xs:string"/>
		<xs:attribute name="Name" type="xs:string"/>
	</xs:complexType>
</xs:schema>
