Schemas/Def.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:complexType name="Def">
        <xs:sequence>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0"/>
            <xs:element name="description"  type="xs:string" minOccurs="0"/>
            <xs:element name="modExtensions">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType"  />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
    </xs:complexType>
</xs:schema>