Schemas/FactionDef.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="FactionDef">
        <xs:all>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="isPlayer" type="xs:boolean" minOccurs="0" />
            <xs:element name="factionNameMaker" type="xs:string" minOccurs="0" />
            <xs:element name="playerInitialSettlementNameMaker" type="xs:string" minOccurs="0" />
            <xs:element name="fixedName" type="xs:string" minOccurs="0" />
            <xs:element name="humanlikeFaction" type="xs:boolean" minOccurs="0" />
            <xs:element name="hidden" type="xs:boolean" minOccurs="0" />
            <xs:element name="pawnGroupMakers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="PawnGroupMaker" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <!--TODO Finish this -->
        </xs:all>
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="PawnGroupMaker">
        <xs:all>
            <xs:element name="kindDef" type="xs:string" />
            <xs:element name="commonality" type="xs:float" />
            <xs:element name="disallowedStrategies" type="ListOfStrings" minOccurs="0" />
            <xs:element name="maxTotalPoints" type="xs:float" />
            <xs:element name="options" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traders" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="carriers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guards" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="ListOfStrings">
        <xs:sequence>
            <xs:element name="li" type="xs:string" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>