Schemas/FactionDef.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="include/ThingFilter.xsd" />
    <xs:element name="Defs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="FactionDef" type="FactionDef" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FactionDef">
        <xs:all>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="isPlayer" type="xs:boolean" minOccurs="0" />
            <xs:element name="factionNameMaker" type="xs:string" minOccurs="0" />
            <xs:element name="playerInitialSettlementNameMaker" type="xs:string" minOccurs="0" />
            <xs:element name="fixedName" type="xs:string" minOccurs="0" />
            <xs:element name="humanlikeFaction" type="xs:boolean" minOccurs="0" />
            <xs:element name="canSiege" type="xs:boolean" minOccurs="0" />
            <xs:element name="hidden" type="xs:boolean" minOccurs="0" />
            <xs:element name="listOrderPriority" type="xs:float" minOccurs="0" />
            <xs:element name="pawnGroupMakers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="PawnGroupMaker" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            
            <xs:element name="raidCommonalityFromPointsCurve" type="SimpleCurve" minOccurs="0"/>
            <xs:element name="autoFlee" type="xs:boolean" minOccurs="0" />
            <xs:element name="canSeige" type="xs:boolean" minOccurs="0"/>
            <xs:element name="canUseAvoidGrid" type="xs:boolean" minOccurs="0"/>
            <xs:element name="canStageAttacks" type="xs:boolean" minOccurs="0"/>
            <xs:element name="earliestRaidDays" type="xs:float" minOccurs="0" />
            <xs:element name="allowedArrivalTemperatureRange" type="FloatRange" minOccurs="0"/>
            <xs:element name="basicMemberKind" type="xs:string" minOccurs="0"/>
            <xs:element name="startingResearchTags" type="ListOfStrings" minOccurs="0"/>
            <xs:element name="recipePrerequisiteTags" type="ListOfStrings" minOccurs="0"/>
            <xs:element name="naturalEnemy" type="xs:boolean" minOccurs="0" />
            <xs:element name="rescueesCanJoin" type="xs:boolean" minOccurs="0"/>
            <xs:element name="pawnSingular" type="xs:string" minOccurs="0"/>
            <xs:element name="pawnsPlural" type="xs:string" minOccurs="0" />
            <xs:element name="leaderTitle" type="xs:string" minOccurs="0"/>
            <xs:element name="forageabilityFactor" type="xs:float" minOccurs="0"/>
            <xs:element name="hostileToFactionlessHumanlikes" type="xs:boolean" minOccurs="0" />
            <xs:element name="maxPawnCostPerTotalPointsCurve" type="SimpleCurve" minOccurs="0"/>
            <xs:element name="requiredCountAtGameStart" type="xs:int" minOccurs="0"/>
            <xs:element name="configurationListOrderPriority" type="xs:int" minOccurs="0" />
            <xs:element name="maxCountAtGameStart" type="xs:int" minOccurs="0" />
            <xs:element name="maxConfigurableAtWorldCreation" type="xs:int" minOccurs="0" />
            <xs:element name="canMakeRandomly" type="xs:boolean" minOccurs="0"/>
            <xs:element name="settlementGenerationWeight" type="xs:float" minOccurs="0"/>
            <xs:element name="pawnNameMaker" type="xs:string" minOccurs="0"/>
            <xs:element name="techLevel" type="TechLevel" minOccurs="0"/>
            <xs:element name="backstoryCategories" type="ListOfStrings" minOccurs="0" />
            <xs:element name="apparelStuffFilter" type="ThingFilter" minOccurs="0"/>
            <xs:element name="caravanTraderKinds" type="ListOfStrings" minOccurs="0"/>
            <xs:element name="visitorTraderKinds" type="ListOfStrings" minOccurs="0"/>
            <xs:element name="baseTraderKinds" type="ListOfStrings" minOccurs="0"/>
            <xs:element name="geneticVariance" type="xs:float" minOccurs="0" />
            <xs:element name="mustStartOneEnemy" type="xs:boolean" minOccurs="0" />
            <xs:element name="goodwillDailyGain" type="xs:float" minOccurs="0"/>
            <xs:element name="goodwillDailyFall" type="xs:float" minOccurs="0"/>
            <xs:element name="permanentEnemy" type="xs:boolean" minOccurs="0"/>
            <xs:element name="homeIconPath" type="xs:string" minOccurs="0"/>
            <xs:element name="factionIconPath" type="xs:string" minOccurs="0" />
            <xs:element name="settlementNameMaker" type="xs:string" minOccurs="0" />
            <xs:element name="settlementTexturePath" type="xs:string" minOccurs="0" />
            <xs:element name="colorSpectrum" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="Color" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="royalTitleInheritanceRelations" type="ListOfStrings" minOccurs="0" />
            <xs:element name="royalTitleInheritanceWorkerClass" type="CSType" minOccurs="0" />
            <xs:element name="royalImplantRules" type="ListOfStrings" minOccurs="0" />
            <xs:element name="renounceTitleMessage" type="xs:string" minOccurs="0" />
            <xs:element name="allowedCultures" type="ListOfStrings" minOccurs="0" />
            <xs:element name="requiredMemes" type="ListOfDefs" minOccurs="0" />
            <xs:element name="allowedMemes" type="ListOfDefs" minOccurs="0" />
            <xs:element name="disallowedMemes" type="ListOfDefs" minOccurs="0" />
            <xs:element name="disallowedPrecepts" type="ListOfDefs" minOccurs="0" />

            <xs:element name="backstoryFilters" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="BackstoryCategoryFilter" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <!--TODO Finish this -->
        </xs:all>
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
    </xs:complexType>

    <xs:complexType name="PawnGroupMaker">
        <xs:all>
            <xs:element name="kindDef" type="xs:string" minOccurs="0" />
            <xs:element name="commonality" type="xs:float" minOccurs="0" />
            <xs:element name="disallowedStrategies" type="ListOfStrings" minOccurs="0" />
            <xs:element name="maxTotalPoints" type="xs:float" minOccurs="0" />
            <xs:element name="options" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" processContents="lax" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="traders" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" processContents="lax" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="carriers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" processContents="lax" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="guards" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any maxOccurs="unbounded" processContents="lax" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
    </xs:complexType>

    <xs:complexType name="SimpleCurve">
        <xs:sequence>
            <xs:element name="points">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="Vector2" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BackstoryCategoryFilter">
        <xs:all>
            <xs:element name="commonality" type="xs:float" minOccurs="0" />

            <xs:element name="categories" type="ListOfStrings" minOccurs="0" />
            <xs:element name="exclude" type="ListOfStrings" minOccurs="0" />
            <xs:element name="categoriesChildhood" type="ListOfStrings" minOccurs="0" />
            <xs:element name="excludeChildhood" type="ListOfStrings" minOccurs="0" />
            <xs:element name="categoriesAdulthood" type="ListOfStrings" minOccurs="0" />
            <xs:element name="excludeAdulthood" type="ListOfStrings" minOccurs="0" />

        </xs:all>
    </xs:complexType>
</xs:schema>