Schemas/InteractionDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Defs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="InteractionDef">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="defName" type="xs:string" />
							<xs:element name="label" type="xs:string" />
							<xs:element name="workerClass" type="WorkerTypes" />
							<xs:element name="initiatorWeights" maxOccurs="1" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="mutationWeights">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="li">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="key" type="xs:string" />
																<xs:element name="value" type="xs:decimal" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="morphWeights">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="li">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="key" type="xs:string" />
																<xs:element name="value" type="xs:decimal" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="requiresBoth" type="xs:boolean" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="recipientWeights" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="mutationWeights">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="li">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="key" type="xs:string" />
																<xs:element name="value" type="xs:decimal" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="morphWeights">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="li">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="key" type="xs:string" />
																<xs:element name="value" type="xs:decimal" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="requiresBoth" type="xs:boolean" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="requiresBoth" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
						<xs:attribute name="Class" type="ClassTypes" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="WorkerTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pawnmorph.Social.InteractionWorker_Chitchat"/>
			<xs:enumeration value="Pawnmorph.Social.InteractionWorker_KindWords"/>
			<xs:enumeration value="Pawnmorph.Social.InteractionWorker_Slight"/>
			<xs:enumeration value="Pawnmorph.Social.InteractionWorker_Insult"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ClassTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pawnmorph.Social.PMInteractionDef"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>