Schemas/MemeDef.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="include/SimpleCurve.xsd" />

    <xs:include schemaLocation="include/SimpleTypes.xsd" />
    <xs:include schemaLocation="include/Enums.xsd" />
    <xs:include schemaLocation="include/CommonComplex.xsd" />


    <xs:element name="Defs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MemeDef" type="MemeDef" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="MemeDef">

        <xs:all>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />

            <xs:element name="iconPath" type="xs:string" minOccurs="0" />
            <xs:element name="renderOrder" type="xs:int" minOccurs="0" />
            <xs:element name="impact" type="xs:int" minOccurs="0" />
            <xs:element name="category" type="MemeCategory" minOccurs="0" />
            <xs:element name="groupDef" type="xs:string" minOccurs="0" />

            <xs:element name="exclusionTags" type="ListOfStrings" minOccurs="0" />
            <xs:element name="requireOne" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="ListOfStrings" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="selectOneOrNone" type="PreceptsWithNoneChance" minOccurs="0" />
            <xs:element name="requiredRituals" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="RequiredRitualAndBuilding" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="preferredWeaponClasses" type="IdeoWeaponClassPair" minOccurs="0" />

            <xs:element name="randomizationSelectionWeightFactor" type="xs:float" minOccurs="0" />
            <xs:element name="requireAnyRitualSeat" type="ListOfStrings" minOccurs="0" />

        </xs:all>
        <xs:attribute name="Name" type="xs:string" use="optional" />
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
    </xs:complexType>

    <xs:complexType name="PreceptsWithNoneChance">
        <xs:all>
            <xs:element name="preceptThingPairs">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="PreceptThingPair" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="noneChance" type="xs:float" />
        </xs:all>
    </xs:complexType>

    <xs:complexType name="PreceptThingPair">
        <xs:all>
            <xs:element name="precept" type="xs:string" />
            <xs:element name="thing" type="xs:string" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="RequiredRitualAndBuilding">
        <xs:all>
            <xs:element name="precept" type="xs:string" />
            <xs:element name="pattern" type="xs:string" />
            <xs:element name="building" type="xs:string" />
        </xs:all>
    </xs:complexType>
</xs:schema>