Schemas/MemeGroupDef.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="include/SimpleCurve.xsd" />
    <xs:include schemaLocation="include/RUlePack.xsd" />
    <xs:include schemaLocation="include/SimpleTypes.xsd" />
    <xs:include schemaLocation="include/Enums.xsd" />
    <xs:include schemaLocation="include/CommonComplex.xsd" />


    <xs:element name="Defs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MemeGroupDef" type="MemeGroupDef" minOccurs="1" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="MemeGroupDef">
        <xs:all>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="drawOffset" type="Vector2" minOccurs="0" />
            <xs:element name="maxRows" type="xs:int" minOccurs="0" />
            <xs:element name="renderWithGab" type="xs:boolean" minOccurs="0" />
            <xs:element name="renderOrder" type="xs:int" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Name" type="xs:string" use="optional" />
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />


    </xs:complexType>
</xs:schema>