Schemas/MorphDef.xsd

<?xml version="1.0" encoding="Windows-1252"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Defs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Pawnmorph.MorphDef">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="defName" type="xs:string" />
							<xs:element name="label" type="xs:string" />
							<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="race" type="xs:string" />
							<xs:element name="explicitHybridRace" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="group" type="MorphGroups" minOccurs="0" maxOccurs="1" />
							<xs:element name="categories">
								<xs:complexType>
									<xs:sequence>
										<xs:element maxOccurs="unbounded" name="li" type="MorphCategory" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="raceSettings" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="statModifiers" type="StatModifiersList" minOccurs="0" maxOccurs="1" />
										<xs:element name="thoughtSettings" type="HybridThoughtSettings" maxOccurs="1" minOccurs="0" />
										<xs:element name="graphicsSettings">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="skinColorOverride" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="skinColorOverrideSecond" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="hairColorOverride" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="hairColorOverrideSecond" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="customDrawSize" type="xs:string" minOccurs="0" maxOccurs="1" />
													<xs:element name="customHeadDrawSize" type="xs:string" minOccurs="0" maxOccurs="1" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="traitSettings" type="TraitSettings" minOccurs="0" maxOccurs="1" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="transformSettings" type="TransformationSettings" minOccurs="0" maxOccurs="1" />
						</xs:sequence>
						<xs:attribute name="ParentName" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="MorphGroups">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Canines" />
			<xs:enumeration value="HerbivoreHerding" />
		</xs:restriction>

	</xs:simpleType>
	<xs:simpleType name="MorphCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Powerful" />
			<xs:enumeration value="Farm" />
			<xs:enumeration value="Combat" />
			<xs:enumeration value="Production" />
			<xs:enumeration value="Social" />
			<xs:enumeration value="Crafter" />
			<xs:enumeration value="Ursine" />
			<xs:enumeration value="Feline" />
			<xs:enumeration value="Avian" />
			<xs:enumeration value="Canid" />

		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="StatModifiersList">
		<xs:sequence>
			<xs:element name="li" type="StatModifier" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StatModifier">
		<xs:sequence>
			<xs:element name="stat" type="xs:string" />
			<xs:element name="value" type="xs:float" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HybridThoughtSettings">
		<xs:sequence>
			<xs:element name="replacerList" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="original" type="xs:string" />
									<xs:element name="replacer" type="xs:string" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ateAnimalThought" minOccurs="0" maxOccurs="1" type="AteThought">
			</xs:element>
			<xs:element name="butcheredAnimalThought" type="ButcherThought" minOccurs="0" maxOccurs="1" />
			<xs:element name="suppressHumanlikeCannibalThoughts" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="canEatRaw" type="xs:boolean" minOccurs="0" maxOccurs="1" />
			<xs:element name="thoughtsBlackList" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" type="xs:string" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ateThoughtsSpecifics" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" type="AteThought" minOccurs="1" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="butcherThoughtsSpecifics" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" maxOccurs="unbounded" type="ButcherThought" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AteThought">
		<xs:sequence>
			<xs:element name="thought" type="xs:string" />
			<xs:element name="thoughtCannibal" type="xs:string" />
			<xs:element name="ingredientThought" type="xs:string" />
			<xs:element name="ingredientThoughtCannibal" type="xs:string" />
			<xs:element name="raceList" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" type="xs:string" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ButcherThought">
		<xs:sequence>
			<xs:element name="thought" type="xs:string" />
			<xs:element name="knowThought" type="xs:string" />
			<xs:element name="raceList" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" type="xs:string" maxOccurs="unbounded" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransformationSettings">
		<xs:sequence>
			<xs:element name="transformationTale" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="transformationMessageID" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="messageDef" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TraitSettings">
		<xs:sequence>
			<xs:element name="forcedTraits" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="li" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="chance" type="xs:float" minOccurs="0" maxOccurs="1" />
									<xs:element name="commonalityMale" type="xs:float" minOccurs="0" maxOccurs="1" />
									<xs:element name="commonalityFemale" type="xs:float" minOccurs="0" maxOccurs="1" />
									<xs:element name="defName" type="xs:string" maxOccurs="1" minOccurs="1" />
									<xs:element name="degree" type="xs:int" maxOccurs="1" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>