Schemas/MutationDef.xsd

<?xml version="1.0" encoding="utf-8" ?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="include/SimpleTypes.xsd" />
    <xs:include schemaLocation="include/CommonComplex.xsd" />
    <xs:element name="Defs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Pawnmorph.Hediffs.MutationDef" type="MutationDef" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="MutationDef">
        <xs:all>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="maxSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="minSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="initialSeverity" type="xs:float" minOccurs="0" />
            <xs:element name="hediffClass" type="xs:string" minOccurs="0" />
            <xs:element name="defaultAddChance" type="xs:float" minOccurs="0"/>
            <xs:element name="defaultBlocks" type="xs:boolean" minOccurs="0"/>
            <xs:element name="isBad" type="xs:boolean" minOccurs="0"/>
            <xs:element name="value" type="xs:int" minOccurs="0" />
            <xs:element name="blockSites" type="ListOfStrings" minOccurs="0" />
            <xs:element name="graphics" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="lax" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="blockEntries" minOccurs="0" >
                <xs:complexType>
                    <xs:sequence>
                         <xs:element name="li" minOccurs="1"  type="BlockEntry" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="comps" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType"  maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="stages" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="HediffStage" maxOccurs="unbounded" />
                    </xs:sequence>
                    <xs:attribute name="Inherit" type="xs:boolean" use="optional" />
                </xs:complexType>
            </xs:element>
            <xs:element name="stagePatches" minOccurs="0">
				<xs:complexType>
				    <xs:sequence>
						<xs:element name="li" minOccurs="1" maxOccurs="unbounded">
							<xs:complexType>
								<xs:all>
								    <xs:element name="stageKey" type="xs:string" minOccurs="0" />
								    <xs:element name="values" type="HediffStage" minOccurs="0" />
								</xs:all>
								<xs:attribute name="function" type="xs:string" use="optional" />
							</xs:complexType>
						</xs:element>
				    </xs:sequence>
				</xs:complexType>
            </xs:element>
            <xs:element name="spawnThingOnRemoved" type="xs:string" minOccurs="0"/>
            <xs:element name="parts" minOccurs="0" type="ListOfStrings" />
            <xs:element name="categories" minOccurs="0" type="ListOfStrings" />
            <xs:element name="customGenomeDescription" minOccurs="0" type="xs:string" />
            <xs:element name="mutationTale" minOccurs="0" type="xs:string" />
            <xs:element name="isTaggable" minOccurs="0" type="xs:boolean" />
            <xs:element name="classInfluence" minOccurs="0" type="xs:string" />
            <xs:element name="classInfluences" minOccurs="0" type="ListOfStrings" />
            <xs:element name="mutationMemory" minOccurs="0" type="xs:string" />
            <xs:element name="memoryIgnoresLimit" minOccurs="0" type="xs:boolean" />
            <xs:element name="mutationLogRulePack" minOccurs="0" type="xs:string" />
            <xs:element name="countToAffect" minOccurs="0" type="xs:int" />
            <xs:element name="modExtensions" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
        <xs:attribute name="Name" type="xs:string" use="optional" />
    </xs:complexType>
    <xs:complexType name="HediffStage">
        <xs:all>
		    <xs:element name="key" minOccurs="0" type="xs:string" />
            <xs:element name="minSeverity" minOccurs="0" type="xs:float" />
            <xs:element name="label" minOccurs="0" type="xs:string" />
            <xs:element name="labelOverride" minOccurs="0" type="xs:string" />
            <xs:element name="description" minOccurs="0" type="xs:string" />
            <xs:element name="painOffset" type="xs:float" minOccurs="0" />
            <xs:element name="healthOffset" type="xs:float" minOccurs="0" />
			<xs:element name="globalHealthMultiplier" type="xs:float" minOccurs="0" />
			<xs:element name="hungerRateFactorOffset" type="xs:float" minOccurs="0" />
            <xs:element name="graphics" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="lax" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="skipAspects" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" minOccurs="1" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="aspect" minOccurs="1" maxOccurs="1" type="xs:string" />
                                    <xs:element name="stage" minOccurs="0" maxOccurs="1" type="xs:positiveInteger" />
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="partEfficiencyOffset" minOccurs="0" type="xs:float" />
            <xs:element name="hungerRateFactor" minOccurs="0" type="xs:float" />
            <xs:element name="stopChance" minOccurs="0" type="xs:float" />
            <xs:element name="memory" minOccurs="0" type="xs:string" />
            <xs:element name="verbOverrides" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Allows setting values of a verb on the mutations when stage is entered.
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="VerbOverride" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="capMods" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="lax" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="hediffGivers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="statOffsets" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="lax" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="statFactors" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="lax" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="aspectGivers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="xs:anyType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="abilities" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Abilities provided by this mutation's stage.
                        See Pawnmorph.Abilities.MutationAbility
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="MutationAbility" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:all>
        <xs:attribute name="Class" type="CustomHediffStages" use="optional" />
    </xs:complexType>

    <xs:simpleType name="CustomHediffStages">
        <xs:restriction base="xs:string">
            <xs:enumeration value="Pawnmorph.Hediffs.DescriptiveStage" />
            <xs:enumeration value="Pawnmorph.Hediffs.MutationStage" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BlockEntry">
        <xs:all>
            <xs:element name="mutation" type="xs:string" minOccurs="1" />
            <xs:element name="blockOnAnyPart" type="xs:boolean" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="VerbOverride">
        <xs:all>
            <xs:element name="label" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Text matching the label of the verb to be modified.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="chanceFactor" type="xs:float" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Verb chance is multiplied by this value.
                        Default is 1.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="power" type="xs:float" minOccurs="0" />
            <xs:element name="cooldownTime" type="xs:float" minOccurs="0" />
        </xs:all>
    </xs:complexType>
    <xs:complexType name="MutationAbility">
        <xs:all>
            <xs:element name="abilityClass" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The class containing this ability's functionality.
                        Must inherit Pawnmorph.Abilities.MutationAbility.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="label" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The text shown as the title of the button.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        The tooltip shown when hovering the mouse over the button.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="iconPath" type="xs:string" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Path to the icon shown on the button.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="cooldown" type="xs:integer" minOccurs="1">
                <xs:annotation>
                    <xs:documentation>
                        Cooldown in ticks of how long it takes for the ability to become available again after use.
                        1 second is generally 60 ticks.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:all>
    </xs:complexType>
</xs:schema>