Schemas/StyleCategoryDef.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="include/SimpleTypes.xsd" />
    <xs:include schemaLocation="include/SimpleCurve.xsd" />
    <xs:include schemaLocation="include/Enums.xsd" />
    <xs:include schemaLocation="include/CommonComplex.xsd" />

    <xs:element name="Defs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="StyleCategoryDef" type="StyleCategoryDef" minOccurs="0" maxOccurs="unbounded" />

            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:complexType name="StyleCategoryDef">
        <xs:all>
            <xs:element name="defName" type="xs:string" minOccurs="0" />
            <xs:element name="label" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="thingDefStyles" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="li" type="ThingDefStyle" minOccurs="1" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="iconPath" type="xs:string" minOccurs="0" />
            <xs:element name="addDesignators" type="ListOfStrings" minOccurs="0" />
            <xs:element name="addDesignatorGroups" type="ListOfStrings" minOccurs="0" />

            <xs:element name="soundOngoingRitual" type="xs:string" minOccurs="0" />
            <xs:element name="ritualVisualEffectDef" type="xs:string" minOccurs="0" />
        </xs:all>
        <xs:attribute name="Name" type="xs:string" use="optional" />
        <xs:attribute name="ParentName" type="xs:string" use="optional" />
        <xs:attribute name="Abstract" type="xs:boolean" use="optional" />
    </xs:complexType>
    <xs:complexType name="ThingDefStyle">
        <xs:all>
            <xs:element name="thingDef" type="xs:string" />
            <xs:element name="styleDef" type="xs:string" />
        </xs:all>
        <xs:attribute name="MayRequire" type="xs:string" use="optional" />
    </xs:complexType>
</xs:schema>