Schemas/Super Def Validator.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="HediffDef.xsd"/>
	<xs:include schemaLocation="ThoughtDef.xsd"/>
	<xs:element name="Defs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="HediffDef" type="HediffDef" maxOccurs="unbounded"/>
				<xs:element name="ThoughtDef" type="ThoughtDef" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>