Schemas/TaleDefs.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Defs">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="TaleDef">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="defName" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="label" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="rulePack" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="rulesStrings">
											<xs:complexType mixed="true">
												<xs:sequence minOccurs="1">
													<xs:element maxOccurs="unbounded" name="li" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="ParentName" type="AbstractTales" use="optional" />
						<xs:attribute name="Name" type="xs:string" use="optional" />
						<xs:attribute name="Abstract" type="xs:boolean" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="AbstractTales">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MutationTaleBase" />
			<xs:enumeration value="MuzzleTaleBase" />
			<xs:enumeration value="EarMutationBase" />
			<xs:enumeration value="HandMutationBase" />
			<xs:enumeration value="FootMutationBase" />
			<xs:enumeration value="GrowTailBase" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>