Schemas/ThoughtDef.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DefExtensions/FilterExtensions.xsd" />
	<xs:element name="Defs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ThoughtDef" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:all>
							<xs:element name="defName" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="thoughtClass" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="workerClass" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="durationDays" type="xs:float" minOccurs="0" maxOccurs="1" />
							<xs:element name="morph" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="aspect" type="xs:string" maxOccurs="1" minOccurs="0" />
							<xs:element name="hediff" type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="showBubble" type="xs:boolean" minOccurs="0"/>
							<xs:element name="icon" type="xs:string" minOccurs="0"/>
							<xs:element name="validWhileDespawned" type="xs:boolean" minOccurs="0"/>
							<xs:element name="stackLimit" type="xs:positiveInteger" minOccurs="0" />
							<xs:element name="requiredTraits" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="li" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="nullifyingTraits" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="li" minOccurs="1" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="stages" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="li" type="ThoughtStage" minOccurs="1" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="modExtensions" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="li" type="xs:anyType" maxOccurs="unbounded" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:all>
						<xs:attribute name="ParentName" type="xs:string" use="optional" />
						<xs:attribute name="Abstract" type="xs:boolean" use="optional" />
						<xs:attribute name="Name" type="xs:string" use="optional" />
						<xs:attribute name="Class" type="xs:string" use="optional" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<xs:simpleType name="ThoughtDefClasses">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Pawnmorph.Thoughts.Def_MorphThought" />
			<xs:enumeration value="Pawnmorph.Thoughts.Def_AspectThought" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="AbstractThoughts">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OutlookMemoryBase" />
			<xs:enumeration value="GroupThoughtBase" />
			<xs:enumeration value="FH_NakedThought"/>
			<xs:enumeration value="FH_PersistentThought" />
			<xs:enumeration value="FH_NakedThougthNudist" />
			<xs:enumeration value="FH_MemoryBase"/>
			<xs:enumeration value="FH_FeralPillBase" />
			<xs:enumeration value="SapientAnimalBondedMasterBase" />
			<xs:enumeration value="SapientAnimalBondedNonMasterBase" />
			<xs:enumeration value="FormerHumanCannibalThoughtBase" />
			<xs:enumeration value="FormerHumanCannibalThoughtGoodBase" />
			<xs:enumeration value="AnimalisticPersistentThoughtBase" />
			<xs:enumeration value="DefaultReactionBase"/>
			<xs:enumeration value="SapientMemoryBase" />
			<xs:enumeration value="AnimalisticNakedThought" />
			<xs:enumeration value="AnimalisticNakedThougthNudist" />
			<xs:enumeration value="MergedPawnPersistentBase" />
			<xs:enumeration value="SleptThoughtBase" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ThoughtStage">
		<xs:all>
			<xs:element name="label" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="labelSocial" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="description" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="visible" type="xs:boolean" default="true" minOccurs="0" maxOccurs="1" />
			<xs:element name="baseMoodEffect" type="xs:float" minOccurs="0" maxOccurs="1" />
		</xs:all>
		<xs:attribute name="IsNull" type="xs:boolean" use="optional" />
	</xs:complexType>
</xs:schema>