Schemas/DefExtensions/MutagenicDamageExtension.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
    <xs:complexType name="MutagenicDamageExtension">
        <xs:all>
            <xs:element name="mutagenicBuildup" type="xs:string" />
            <xs:element name="severityPerDamage" type="xs:float" minOccurs="0" default="0.04" />
            <xs:element name="reduceValue" type="xs:float" default="0.33" minOccurs="0"/>
        </xs:all>
        <xs:attribute name="Class"> 
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Pawnmorph.Damage.MutagenicDamageExtension"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>